* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    position: relative;
    background-color: #4293A6;
}

i {
    color: #000;
}

/* PARTE DEL NAV */

.logo__img {
    width: 90px;
}

/* FIN DEL NAV */

/* INICIO DEL MAIN GENERAL */

.servicio__titulo, .principal__titulo, .form__titulo, .faq__titulo, .primer__titulo {
    font-family: "Poppins";
    text-align: center;
    color: #286675;
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px 400px;
    padding: 10px;
    background-color: #fff;
    border: 4px solid #000;
    margin-top: 150px;
} 

/* FIN DEL MAIN GENERAL */

/* INICIO DEL MAIN DEL INDEX */

.principal {
    text-align: center;
}

.principal__img {
    margin-top: 30px;
    width: 70%;
    border: 3px solid #000;
    margin-bottom: 15px;
}

/* FIN DE MAIN DEL INDEX */

/* INICIO DEL MAIN DE CONTACTO */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60dvh;
    margin-bottom: 124px;
}

form {
    background-color: #286675;
    margin: auto;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 40px #0006;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name nro" "email email" "pueblo servicio" "termino termino" "button button";
    gap: 15px;
    padding: 25px;
    border-radius: 12px;
}

.form__input:first-child {
    grid-area: name;
}
.form__input:nth-child(2) {
    grid-area: email;
}
.form__input:nth-child(3) {
    grid-area: nro;
}
.form__input:nth-child(4) {
    grid-area: servicio;
}
.form__input:nth-child(5) {
    grid-area: pueblo;
}
.form__input:last-child {
    grid-area: button;
}

label {
    color: #fff;
    font-family: "Monserrat";
    font-size: 18px;
}

input, textarea {
    border-radius: 4px;
    width: 100%;
    padding: 9px;
    margin: 4px;
    border: none;
    font-size: 15px;
}

.form__submit {
    background-color: #1bb5d7;
    color: #fff;
    font-size: 18px;
}

textarea {
    resize: none;
}


/* FIN DE MAIN DE CONTACTO */

/* INICIO DEL MAIN DE NOSOTROS */

/* PARTE PRINCIPAL */

.primer--container {
    text-align: center;
}

.primer__img {
    width: 70%;
    margin-top: 150px;
    border: 4px solid #000;
}

.primer__titulo {
    margin-bottom: 30px;
    margin-top: 40px;
}

/* PARTE NOSOTROS */

.nosotros--container {
    background-color: #fff;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.nosotros__pregunta {
    margin: 20px 0 30px 70px;
    font-size: 30px;
}

.nosotros__item--container {
    margin: 0 150px 0 150px;
}

.nosotros__item {
    font-size: 25px;
    color: #000a;
}

.nosotros__respuesta {
    margin: 20px 0 30px 30px;
    font-size: 18px;
}

/* PARTE TRABAJO */

.trabajo__titulo {
    text-align: center;
    margin: 35px 600px 10px 600px;
    padding: 18px 0;
    color: #286675;
    background-color: #fff;
    font-size: 35px;
    border: 4px solid #000
}

.trabajo--container {
    display: flex;
    justify-content: space-evenly;
}

.trabajo__img--container {
    margin: 20px;
}

.trabajo__img {
    border-radius: 30px;
    width: 100%;
    border: 2px solid #000;
}

/* PARTE PUEBLO */

.pueblo__titulo--container {
    margin-bottom: 40px;
}

.pueblo__titulo {
    text-align: center;
    margin: 35px 600px 10px 600px;
    padding: 18px 0;
    color: #286675;
    background-color: #fff;
    font-size: 35px;
    border: 4px solid #000
}

.pueblo--container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.pueblo__img--container {
    position: relative;
    margin-bottom: 35px;
}

.pueblo__img {
    width: 90%;
    border-radius: 30px 30px 30px 0;
    border: 3px solid #000;
}
.pueblo__img:hover {
    box-shadow: 0 0 15px #000;
}

.pueblo__nombre {
    font-size: 25px;
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: 23px;
    padding: 0 10px;
    background-color: #fff;
    border: 2px solid #000;
}

/* FIN DE MAIN DE NOSOTROS */

/* INICIO DE MAIN DE FAQ */

.faq--container {
    margin: 10px 190px 25px 190px;
    padding: 10px 10px;
}

.faq__pregunta--container {
    margin-bottom: 40px;
    border: 3px solid #000;
    background-color: #fff;
}

.faq__pregunta {
    text-align: center;
    margin-bottom: 8px;
    margin-right: 1230px;
    padding: 7px;
    font-size: 24px;
    background-color: #fff;
    border-bottom: 3px solid #000;
}

.faq__respuesta {
    margin: 0 45px;
    background-color: #fff;
    padding: 10px;
}

/* FIN DEL MAIN DE FAQ */

/* INICIO DEL MAIN DE SERVICIOS */

/* INICIO PARTE CATEGORIA */

.servicios--container {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.servicios__categoria--container {
    display: flex;
    width: 600px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 30px;
    border: 3px solid #000;
}

.categoria--container {
    margin: 15px;
}

.categoria__title {
    margin: 5px 55px 10px 55px;
}

.categoria__title, .categoria--container i {
    color: #358a96;
}

/* FIN PARTE CATEGORIA */

/* INICIO PARTE PLAN */

.internet--container {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 30px;
    width: 600px;
    text-align: center;
    padding-bottom: 15px;
}

.internet__title--container {
    margin: 15px 70px;
    padding: 15px;
    border: 3px solid #000;
    color: #358a96;
}

.internet__plan--container {
    display: flex;
    justify-content: space-around;
}

.internet__plan--container div {
    margin: 10px;
}

.internet__plan {
    font-size: 18px;
}

.internet__plan--container div {
    display: flex;
    align-items: center;
}

.internet__premiun--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 120px 0 120px;
    padding: 6px;
    border: 2px solid #db0c0c;
}

.internet__premiun {
    font-size: 22px;
    margin: 0;
}

.internet--container i {
    margin-right: 5px;
}

.internet__premiun--container strong {
    color: #db0c0c;
}

/* FIN PARTE PLAN */

/* INICIO PARTE PACK */

/* INICIO PARTE PACK DE FOX Y HBO */

.pack__title {
    margin: 100px 630px 0 630px;
    padding: 10px 0;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #000;
    color: #1B5966;
    border-radius: 8px;
}

.pack__foxhbo--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.servicio__img--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "img1 img2 img3";
    gap: 20px;
}

.pack-fox__img1, .pack-hbo__img1 {
    grid-area: img1;
}
.pack-fox__img2, .pack-hbo__img2 {
    grid-area: img2;
}
.pack-fox__img3, .pack-hbo__img3 {
    grid-area: img3;
}

.pack-fox--container {
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
}
.pack-hbo--container {
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
}

.pack-fox__title {
    background-color: #8AEFF9;
    margin: 0 320px 10px 320px;
    padding: 5px 7px;
    border-radius: 12px;
    font-size: 25px;
}
.pack-hbo__title {
    background-color: #8AEFF9;
    margin: 0 300px 10px 300px;
    padding: 5px 7px;
    border-radius: 12px;
    font-size: 25px;
}

/* FIN PARTE PACK DE FOX Y HBO */

/* INICIO PARTE PACK DE DTVGO, DISNEY+ Y COMPLETO */

.pack-general--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
} 

.pack-dtvgodisney--container {
    display: flex;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 30px #000;
}

.pack-dtvgo--container, .pack-disney--container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pack-dtvgo__title {
    background-color: #8AEFF9;
    margin: 0 35px 10px 35px;
    padding: 5px 7px;
    border-radius: 12px;
    font-size: 25px;
}
.pack-disney__title {
    background-color: #8AEFF9;
    margin: 0 35px 20px 35px;
    padding: 5px 7px;
    border-radius: 12px;
    font-size: 25px;
}

.pack-completo--container {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 30px #000;
}

.pack-completo__title {
    padding: 5px 0;
    background-color: #8AEFF9;
    margin: 0 490px 20px 490px;
    padding: 5px 7px;
    border-radius: 12px;
    font-size: 25px;
}

/* FIN PARTE PACK DE DTVGO, DISNEY+ Y COMPLETO */

/* FIN PARTE PACK */

/* FIN DEL MAIN DE SERVICIOS */

/* INICIO DEL FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    text-align: center;
    border-top: 3px solid #0008;
    background-color: #1B5966;
    position: relative;
    z-index: 10;
}

.footer__redes--container {
    margin-left: 15px;
}

.footer__redes--title {
    font-size: 22px;
    margin-bottom: 0;
}

.footer__mail--container {
    border-radius: 15px;
}

.footer__mail--title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer__mail {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    padding: 3px 15px;
    border-radius: 15px;
}

.footer__redes--container i {
    color: #fff;
    margin: 7px;
    font-size: 20px;
}

.footer__wtsp--container i {
    font-size: 40px;
    color: #fff;
    margin-right: 15px;
}

div .wtsp {
    display: none;
}

/* FIN DEL FOOTER */

/* MEDIA PARA TABLET */

@media screen and (max-width:1024px) {
    
}

/* FIN MEDIA PARA TABLET */

/* MEDIA PARA CELULAR */

@media screen and (max-width:768px) {

    body {
        max-width: 100dvw;
    }
    header {
        max-width: 100dvw;
    }
    footer {
        max-width: 100dvw;
    }

/* PARTE HEADER */

    .logo__img {
        width: 50px;
    }

/* FIN PARTE HEADER */

/* GENERAL */

    .titulo--container {
        display: flex;
        flex-wrap: wrap;
    }

    .servicio__titulo, .principal__titulo, .primer__titulo {
        font-size: 28px;
        margin: 30px auto;
        margin-top: 100px;
    }
    .faq__titulo, .form__titulo {
        font-size: 22px;
        margin: 30px auto;
        margin-top: 100px;
    }

/* FIN GENERAL */

/* PARTE INDEX */

    .principal__img {
        margin-top: 0px;
        width: 90%;
    }

/* FIN PARTE INDEX */

/* PARTE CONTACTO */

    form {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        box-shadow: none;
    }

    .form {
        margin-bottom: 30px;
    }

/* FIN PARTE CONTACTO */

/* PARTE NOSOTROS */

/* PRINCIPAL */

    .primer__img {
        width: 85%;
        margin-top: 100px;
    }

    .primer__titulo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

/* FIN PRINCIPAL */

/* NOSOTROS */

    .nosotros__pregunta {
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }

    .nosotros__item--container {
        margin: 0;
        padding: 0;
    }

    .nosotros__item {
        text-align: center;
        font-size: 23px;
    }

    .nosotros__respuesta {
        margin: 20px 15px;
        font-size: 15px;
    }

/* FIN NOSOTROS */

/* TRABAJO */

    .trabajo__titulo, .pueblo__titulo {
        margin: 35px auto 10px auto;
        font-size: 27px;
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        border-right: none;
        border-left: none;
    }

    .trabajo--container {
        flex-direction: column;
    }

/* FIN TRABAJO */

/* PUEBLO */

    .pueblo--container {
        flex-direction: column;
    }

    .pueblo__img--container {
        position: static;
    }

    .pueblo__img {
        border-radius: 30px;
    }

    .pueblo__nombre {
        position: static;
        margin: 8px 60px;
    }

    .ultimo-pueblo {
        margin-bottom: 10px;
    }

/* FIN PUEBLO */

/* FIN PARTE NOSOTROS */

/* PARTE FAQ */

    .faq--container {
        margin: 0 20px 25px 20px;
        padding: 0;
    }

    .faq__pregunta {
        margin: 0 auto 10px auto;
    }

    .faq__respuesta {
        margin: 0 10px;
    }

    .ultimo-faq {
        margin: 0;
    }

/* FIN PARTE PACK */

/* PARTE SERVICIOS */

    .servicio__titulo {
        margin-top: 100px;
    }

/* CATEGORIA */

    .servicios--container {
        flex-direction: column;
        margin-top: 6px;
    }

    .servicios__categoria--container, .internet--container {
        flex-direction: column;
        width: 100dvw;
        border-radius: 0;
        border: none;
    }

    .servicios__categoria--container {
        margin-bottom: 25px;
    }

/* FIN CATEGORIA */

/* PLAN */

    .internet__title--container {
        margin: 15px 30px;
        padding: 15px 10px 5px 10px;
    }

    .internet__premiun--container {
        margin: 12px 20px 0 20px;
    }

    .internet__plan {
        margin: 0;
    }
    .internet--container i {
        margin: 0;
    }
    .internet__premiun--container i {
        margin-right: 7px;
    }

/* FIN PLAN */

/* PACK FOX Y HBO */

    .pack__title {
        margin: 50px auto 0 auto;
        padding: 10px 10px;
        font-size: 22px;
        border-radius: 0;
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        border-right: none;
        border-left: none;
    }

    .pack__foxhbo--container {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .servicio__img--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pack-fox--container {
        width: 100dvw;
        margin-bottom: 30px;
    }
    .pack-fox__title, .pack-hbo__title, .pack-dtvgo__title, .pack-disney__title, .pack-completo__title {
        margin: 0 50px 10px 50px;
        padding: 2px 5px;
        border-bottom: 3px solid #000;
    }

    .pack-hbo--container {
        width: 100dvw;
    }

    .pack-fox__img1, .pack-fox__img2, .pack-fox__img3 {
        width: 55%;
    }

/* FIN PACK FOX Y HBO */

/* PACK DTVGO, DISNEY+ Y COMPLETO */

    .pack-dtvgodisney--container {
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    .pack-dtvgo--container, .pack-disney--container {
        background-color: #fff;
        box-shadow: 0 0 20px #000;
        padding: 15px;
        width: 100dvw;
        border-radius: 12px;
    }
    .pack-disney--container {
        margin-top: 30px;
    }

    .pack-dtvgo__title, .pack-disney__title {
        margin-bottom: 15px;
    }

    .pack-general--container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .pack-completo--container {
        width: 100dvw;
        margin-top: 30px;
        border-radius: 12px 12px 0 0;
    }

    .pack-completo-img--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pack-completo-img--container img {
        width: 80%;
    }

/* FIN PACK DTCGO, DISNEY+ Y COMPLELTO */

/* FIN PARTE SERVICIOS */

/* INICIO PARTE FOOTER */

    footer {
        height: 55px;
    }

    .footer__redes--title, .footer__wtsp--container, .footer__mail {
        display: none;
    }

    .footer__mail--title {
        margin-right: 12px;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 0;
        border-bottom: 3px solid #000;
        border-radius: 10px;
        padding: 0 10px;
    }

    .footer__redes--container {
        margin-left: 5px;
    }

    .footer__redes--container i {
        font-size: 24px;
    }
    
    div .wtsp {
        display: inline-block;
    }

/* FIN PARTE FOOTER */
}

/* FIN MEDIA PARA CELULAR */