/* VARIABLES */

$color_titulos: #286675;
$color_fondo: #4293A6;
$color_footer: #1B5966;
$color_categoria: #358a96;
$color_titulosPack: #8AEFF9;
$color_button: #1bb5d7;

/* EXTEND */

.border {
    border: 3px solid #000;
}

.font-size25 {
    font-size: 20px;
}

/* MIXINS */

@mixin flex ($flex-d, $align-i, $justify-c) {
    display: flex;
    flex-direction: $flex-d;
    align-items: $align-i;
    justify-content: $justify-c;
}

@mixin border ($b-top, $b-bottom, $b-right, $b-left) {
    border-top: $b-top;
    border-bottom: $b-bottom;
    border-right: $b-right;
    border-left: $b-left;
}

@mixin movile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
    list-style: none;
}

i {
    color: #000;
}

a {
    text-decoration: none;
}

body {
    background-color: $color_fondo;
    padding: 0 !important;
}

body, footer, header {
    @include movile {
        max-width: 100dvw;
    }
}

/* PACK GENERAL */

.servicio__titulo, .principal__titulo, .form__titulo, .faq__titulo, .primer__titulo {
    font-family: "Poppins";
    text-align: center;
    color: $color_titulos;
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px 280px;
    padding: 10px;
    background-color: #fff;
    border: 4px solid #000;
    margin-top: 100px;

    @include tablet {
        margin: 100px 150px 40px 150px;
    }
}

.servicio__titulo, .principal__titulo, .primer__titulo {
    @include movile {
        font-size: 28px;
        margin: 30px auto;
        margin-top: 100px;
    }
}
.faq__titulo, .form__titulo {
    @include movile {
        font-size: 17px;
        margin: 30px auto;
        margin-top: 100px;
    }
}

/* HEADER */

.navbar {
    padding: 0 !important;
    width: 100dvw !important;

    .navbar-brand {
        padding: 0 0 0 10px;

        .logo__img {
            width: 80px;

            @include movile {
                width: 55px;
            }
        }
    }

    .navbar-toggler {
        display: none;

        @include tablet {
            display: inline-block;
        }
        @include movile {
            display: inline-block;
        }
    }

    .offcanvas {
        left: 0;
        width: 100dvw;
    }

    .nav__list {
        @include flex(inherit, center, inherit);
        padding: 10px 0 10px 30px;
        margin: 0;

        @include tablet {
            display: none;
        }
        @include movile {
            display: none;
        }

        .nav__link {
            @include flex(inherit, inherit, space-evenly);
            font-size: 20px;
            margin-right: 13px;

            a {
                color: #000;
                padding: 0 8px;

                &:hover {
                    border-bottom: 1px solid #000;
                    transform: translateY(-5px);
                }

                &:active {
                    color: #000a;
                    border-bottom-color: #000a;
                }
            }
        }

        .nav__link:last-child {
            margin-right: 12px;
        }
    }
}

/* INDEX */

.principal__titulo {
    margin-bottom: 15px;
}

.principal {
    text-align: center;
}

.principal__img {
    @extend .border;
    margin: 10px 0 15px 0;
    width: 60%;

    @include movile {
        margin-top: 0;
        width: 90%;
    }
}

/* PARTE form */

.form__titulo {
    margin: 100px 200px 30px 200px;

    @include tablet {
        margin: 100px 80px 10px 80px;
    }
    @include movile {
        margin: 80px 50px 20px 50px;
    }
}

.section--form {
    @include flex(column, center, center);
    min-height: 60dvh;

    @include movile {
        margin-bottom: 0;
    }

    form {
        background-color: $color_titulos;
        margin: auto;
        max-width: 600px;
        box-shadow: 0 0 40px #000;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "name nro" "email email" "pueblo servicio" "termino termino" "button button";
        gap: 15px;
        padding: 15px 25px 25px 25px;
        border-radius: 12px;

        @include tablet {
            gap: 5px;
        }
        @include movile {
            border-radius: 0;
            box-shadow: none;
        }

        .form__input:first-child {
            grid-area: name;
        }
        .form__input:nth-child(2) {
            grid-area: email;
        }
        .form__input:nth-child(3) {
            grid-area: nro;
        }
        .form__input:nth-child(4) {
            grid-area: servicio;
        }
        .form__input:nth-child(5) {
            grid-area: pueblo;
        }
        .form__input:last-child {
            grid-area: button;
        }

        label {
            color: #fff;
            font-family: "Monserrat";
            font-size: 18px;
            width: 100%;
        }

        #celular, #nombre, #mensaje, #mensaje2, #email, .form__submit {
            border-radius: 4px;
            width: 100%;
            padding: 9px;
            margin: 0 0 4px 0;
            border: none;
            font-size: 15px;
        }

        textarea {
            resize: none;
        }

        .form__submit {
            background-color: $color_button;
            color: #fff;
            font-size: 18px;
        }
    }
}

/* PARTE nosotros */

.primer--container {
    text-align: center;

    .primer__img {
        width: 70%;
        margin-top: 100px;
        border: 4px solid #000;

        @include movile {
            width: 85%;
            margin-top: 100px;
        }
    }

    .primer__titulo {
        margin: 40px 300px 30px 300px;

        @include tablet {
            margin: 40px 240px 30px 240px;
        }
        @include movile {
            margin: 20px 0;
        }
    }
}

.nosotros {

    .nosotros--container {
        background-color: #fff;
        @include border(3px solid #000, 3px solid #000, none, none);

        .nosotros__pregunta {
            margin: 20px 0 30px 70px;
            font-size: 30px;

            @include tablet {
                margin: 20px 0 30px 20px;
            }
            @include movile {
                text-align: center;
                margin-left: 0;
            }
        }

        .nosotros__item--container {
            margin: 0 150px;

            @include tablet {
                margin: 0 50px 0 40px;
            }
            @include movile {
                margin: 0;
                padding: 0;
            }

            .nosotros__item {
                @extend .font-size25;
                color: #000a;

                @include movile {
                    text-align: center;
                }
            }

            .nosotros__respuesta {
                margin: 8px 0 30px 30px;
                font-size: 18px;

                @include movile {
                    text-align: center;
                    margin: 8px 15px 25px 15px;
                    font-size: 15px;
                }
            }
        }
    }
}

/* trabajo */

.trabajo {

    .trabajo__titulo {
        text-align: center;
        margin: 35px 250px 10px 250px;
        padding: 18px 0;
        color: $color_titulos;
        background-color: #fff;
        font-size: 35px;
        border: 4px solid #000;

        @include tablet {
            margin: 35px 120px 10px 120px;
        }
        @include movile {
            @include border(3px solid #000, 3px solid #000, none, none);
            margin: 35px auto 10px auto;
            font-size: 27px;
        }
    }

    .trabajo--container {
        @include flex(row, inherit, space-evenly);

        @include tablet {
            @include flex(column, inherit, inherit);
        }
        @include movile {
            @include flex(column, inherit, inherit)
        }

        .container--container {
            @include flex(row, inherit, space-evenly);
            width: 100%;

            @include tablet {
                @include flex(row, inherit, center);
            }
            @include movile {
                @include flex(column, inherit, inherit);
            }

            .trabajo__img--container {
                margin: 20px;
    
                .trabajo__img {
                    @extend .border;
                    border-radius: 30px;
                    width: 100%;
                }
            }
        }
    }
}

/* pueblo */

.pueblo {

    .pueblo__titulo--container {
        margin-bottom: 40px;

        .pueblo__titulo {
            text-align: center;
            margin: 35px 270px 10px 270px;
            color: $color_titulos;
            font-size: 35px;
            border: 4px solid #000;
            background-color: #fff;
            padding: 18px 0;

            @include tablet {
                margin: 35px 150px 10px 150px
            }
            @include movile {
                @include border(3px solid #000, 3px solid #000, none, none);
                margin: 35px auto 10px auto;
                font-size: 27px;
            }
        }
    }

    .pueblo--container {
        @include flex(row, center, space-evenly);
        text-align: center;
        flex-wrap: wrap;

        @include tablet {
            @include flex(column, inherit, inherit);
            flex-wrap: wrap;
        }
        @include movile {
            @include flex(column, inherit, inherit)
        }

        .pueblo--container--container {
            @include flex(row, inherit, inherit);
            flex-wrap: wrap;

            @include tablet {
                @include flex(row, inherit, center);
            }
            @include movile {
                @include flex(column, inherit, center);
            }

            .pueblo__img--container {
                position: relative;
                margin-bottom: 30px;

                @include movile {
                    position: static;
                }
    
                .pueblo__img {
                    width: 444px;
                    border-radius: 30px 30px 30px 0;
                    @extend .border;
    
                    @include tablet {
                        width: 370px;
                    }
                    @include movile {
                        width: 90%;
                        border-radius: 30px;
                    }

                    &:hover {
                        box-shadow: 0 0 15px #000;
                    }
                }

                .pueblo__nombre {
                    @extend .font-size25;
                    position: absolute;
                    z-index: 10;
                    bottom: -16px;
                    left: 0;
                    padding: 0 10px;
                    background-color: #fff;
                    @extend .border;

                    @include movile {
                        position: static;
                        margin: 8px 60px;
                    }
                }
            }

            .alvarez, .acebal, .pueblo-muñoz, .villa-amelia {
                margin-right: 30px;

                @include tablet {
                    margin-right: 15px;
                }
                @include movile {
                    margin-right: 0;
                }
            }
            .ultimo-pueblo {

                @include movile{
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* PARTE faq */

.faq__titulo {
    margin: 100px 250px 20px 250px;

    @include tablet {
        margin: 100px 120px 20px 120px;
    }
    @include movile {
        margin: 80px 50px 20px 50px;
    }
}

.faq--container {
    margin: 10px 150px 0 150px;
    padding: 10px;

    @include tablet {
        margin: 10px 20px 25px 20px;
    }
    @include movile {
        margin: 0 20px 25px 20px;
        padding: 0;
    }

    .faq__pregunta--container {
        @extend .border;
        margin-bottom: 40px;
        background-color: #fff;

        .faq__pregunta {
            text-align: center;
            margin: 0 auto 10px auto;
            padding: 7px;
            font-size: 24px;
            background-color: #fff;
            border-bottom: 3px solid #000;
            font-weight: bold;
        }

        .faq__respuesta {
            margin: 0 25px;
            background-color: #fff;
            padding: 0 10px 10px 10px;
            font-size: 20px;
            text-align: center;

            @include tablet {
                margin: 0 10px;
            }
            @include movile {
                margin: 0 10px;
            }
        }
    }

    .ultimo-faq {

        @include movile {
            margin: 0;
        }
    }
}

/* PARTE SERVICIOS */

/* PARTE PACK categoria */

.servicio__titulo {

    @include movile {
        margin-top: 100px;
    }
}

.servicios--container {
    @include flex (row, center, space-around);
    margin-top: 45px;

    @include tablet {
        @include flex(column, center, inherit);
    }
    @include movile {
        @include flex(column, inherit, inherit);
        margin-top: 6px;
    }

    .servicios__categoria--container {
        width: 700px;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        border-radius: 30px;
        @extend .border;

        &:first-child {
            margin-bottom: 30px;
        }

        @include movile {
            @include flex(column, inherit, inherit);
            width: 100dvw;
            border-radius: 0;
            border: none;
            margin-bottom: 25px;
        }

        .categoria--container {
            margin: 15px;

            .categoria__title {
                margin: 5px 55px 10px 55px;
                color: $color_categoria;
            }

            i {
                color: $color_categoria;
            }
        }
    }

/* PARTE plan */

        .internet--container {
            @include flex(column, center, inherit);
            background-color: #fff;
            @extend .border;
            border-radius: 30px;
            width: 750px;
            text-align: center;

            @include movile {
                @include flex(column, inherit, inherit);
                width: 100dvw;
                border-radius: 0;
                border: none;
            }

            .internet__title--container {
                margin: 28px 70px 0 70px;
                padding: 15px;
                @extend .border;
                color: $color_categoria;

                @include movile {
                    margin: 15px 30px;
                    padding: 15px 10px 5px 10px;
                }

                .internet__title {
                    margin: 0;
                }
            }

            i {
                margin-right: 5px;

                @include movile {
                    margin: 0;
                }
            }
        }

        .internet__plan--container {
            @include flex(row, inherit, space-around);
            margin-top: 10px;

            div {
                @include flex(row, center, inherit);
                margin: 10px;
            }

            .internet__plan {
                font-size: 18px;
                margin-bottom: 0;

                @include movile {
                    margin: 0;
                }
            }

            i {

                @include movile {
                    margin-right: 7px;
                }
            }
        }

        .internet__premiun--container {
            @include flex(row, center, center);
            margin: 0 80px 20px 80px;
            padding: 7.5px 15px;
            border: 4px solid #000;

            @include movile {
                margin: 12px 20px 12px 20px;
            }

            .internet__premiun {
                margin: 0;
                font-size: 22px;
                padding-bottom: 0;
            }

            strong {
                color: #db0c0c;
            }
        }
}

/* PARTE fox Y hbo */

.pack__title {
    margin: 60px 310px 0 310px;
    padding: 10px 0;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    background-color: #fff;
    @extend .border;
    color: $color_footer;
    border-radius: 8px;

    @include tablet {
        margin: 60px 200px 0 200px;
    }
    @include movile {
        @include border(3px solid #000, 3px solid #000, none, none);
        margin: 50px auto 0 auto;
        padding: 10px 10px;
        font-size: 22px;
        border-radius: 0;
    }
}

.pack__foxhbo--container {
    @include flex(column, center, space-evenly);
    text-align: center;
    margin: 40px 0;

    @include movile {
        margin: 20px 0 30px 0;
    }

    .pack-fox--container {
        background-color: #fff;
        padding: 15px 10px;
        border-radius: 12px;
        margin-bottom: 40px;

        @include movile {
            width: 100%;
            margin-bottom: 30px;
        }

        .pack-fox__title {
            @extend .font-size25;
            background-color: $color_titulosPack;
            margin: 0 250px 10px 250px;
            padding: 5px 7px;
            border-radius: 12px;

            @include movile {
                margin: 0 50px 10px 50px;
                padding: 2px 5px;
                border-bottom: 3px solid #000;
            }
        }

        .servicio__img--container {
            @include flex(row, center, center);

            @include movile {
                @include flex(column, center, inherit);
            }

            .pack-fox__img1 {
                width: 85%;

                @include movile {
                    width: 55%;
                }
            }
            .pack-fox__img2 {
                width: 85%;

                @include movile {
                    width: 55%;
                }
            }
            .pack-fox__img3 {
                width: 85%;

                @include movile {
                    width: 55%;
                }
            }
        }
    }

    .pack-hbo--container {
        background-color: #fff;
        padding: 15px 10px;
        border-radius: 12px;

        @include movile {
            width: 100dvw;
        }

        .pack-hbo__title {
            @extend .font-size25;
            background-color: $color_titulosPack;
            margin: 0 230px 10px 230px;
            padding: 5px 7px;
            border-radius: 12px;

            @include movile {
                margin: 0 50px 10px 50px;
                padding: 2px 5px;
                border-bottom: 3px solid #000;
            }
        }

        .servicio__img--container {
            @include flex(row, center, center);

            @include movile {
                @include flex(column, center, inherit);
            }

            .pack-hbo__img1 {
                margin-right: 20px;
            }
            .pack-hbo__img2 {
                width: 170px;
                margin-right: 15px;
            }
        }
    }
}
/* PARTE PACK DTVGO, DISNEY Y COMPLETO */

.pack-triple--container {
    @include flex(column, center, space-around);
    margin-bottom: 40px;

    @include movile {
        @include flex(column, inherit, inherit);
        margin-bottom: 0;
    }

    .pack-dtvgodisney--container {
        @include flex(row, inherit, inherit);
        background-color: #fff;
        padding: 15px;
        border-radius: 12px;
        margin-bottom: 40px;
        min-width: 600px;

        @include movile {
            @include flex(column, inherit, inherit);
            box-shadow: none;
            padding: 0;
            background-color: transparent;
            min-width: 100px;
        }

        .pack-dtvgo--container {
            @include flex(column, center, inherit);

            @include movile {
                background-color: #fff;
                padding: 15px;
                width: 100dvw;
                border-radius: 12px;
            }

            .pack-dtvgo__title {
                @extend .font-size25;
                background-color: $color_titulosPack;
                margin-bottom: 10px;
                padding: 5px 35px;
                border-radius: 12px;

                @include movile {
                    margin-bottom: 15px;
                }

                @include movile {
                    margin: 0 50px 10px 50px;
                    padding: 2px 5px;
                    border-bottom: 3px solid #000;
                }
            }
        }

        .pack-disney--container {
            @include flex(column, center, inherit);

            @include movile {
                background-color: #fff;
                padding: 15px;
                width: 100dvw;
                border-radius: 12px;
                margin-top: 30px;
            }

            .pack-disney__title {
                @extend .font-size25;
                background-color: $color_titulosPack;
                margin-bottom: 10px;
                padding: 5px 35px;
                border-radius: 12px;

                @include movile {
                    margin-bottom: 15px;
                    margin: 0 50px 10px 50px;
                    padding: 2px 5px;
                    border-bottom: 3px solid #000;
                }
            }
        }
    }

    .pack-completo--container {
        text-align: center;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 0 30px #000;
        border-radius: 12px;

        @include tablet {
            max-width: 760px;
        }
        @include movile {
            width: 100dvw;
            margin-top: 30px;
            border-radius: 12px 12px 0 0;
            box-shadow: 0 -5px 25px #000;
        }

        .pack-completo__title {
            @extend .font-size25;
            padding: 5px 0;
            background-color: $color_titulosPack;
            margin: 0 250px 10px 250px;
            padding: 5px 7px;
            border-radius: 12px;

            @include movile {
                margin: 0 50px 10px 50px;
                padding: 2px 5px;
                border-bottom: 3px solid #000;
            }
        }

        .pack-completo__img--container {

            @include movile {
                @include flex(column, center, inherit);
            }

            img {

                &:nth-child(4) {
                    width: 200px;
                }
                &:last-child {
                    width: 200px;
                }

                @include movile {
                    width: 80%;
                }
            }
        }
    }
}


/* FIN PARTE SERVICIOS */

/* FOOTER */

footer {
    @include flex(row, center, space-between);
    color: #fff;
    width: 100%;
    text-align: center;
    border-top: 3px solid #000;
    background-color: $color_footer;

    @include movile {
        height: 55px;
    }

    .footer__redes--container {
        margin-left: 15px;

        @include movile {
            margin-left: 5px;
        }

        .footer__redes--title {
            font-size: 20px;
            margin-bottom: 0;

            @include movile {
                display: none;
            }
        }

        i {
            color: #fff;
            margin: 7px;
            font-size: 18px;

            @include movile {
                font-size: 19px;
            }
        }

        .wtsp {
            display: none;

            @include movile {
                display: inline-block;
            }
        }
    }

    .footer__mail--container {
        border-radius: 15px;
        list-style: none;

        .footer__mail--title {
            color: #fff;
            font-size: 15px;
            margin-bottom: 5px;

            @include movile {
                font-size: 17px;
                text-transform: uppercase;
                margin-bottom: 0;
                border-bottom: 3px solid #000;
                border-radius: 10px;
                padding: 0 10px;
            }
        }

        .footer__mail {
            color: #000;
            background-color: #fff;
            border: 2px solid #000;
            padding: 3px 15px;
            border-radius: 15px;
            margin-bottom: 5px;

            @include movile {
                display: none;
            }
        }

        #footer--mail {
            list-style: none;
            text-decoration: none;
        }
    }

    .footer__wtsp--container {
        i{
            font-size: 30px;
            color: #fff;
            margin-right: 15px;

            @include movile {
                display: none;
            }
        }
    }
    
}


